name: Build Windows Executable

on:
  push:
    branches: [ main ]  # Runs every time you push to the 'main' branch

jobs:
  build:
    runs-on: windows-latest  # This tells GitHub to use a Windows machine

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt

    - name: Build with PyInstaller
      run: pyinstaller --onefile processDataset.py

    - name: Upload Executable
      uses: actions/upload-artifact@v4
      with:
        name: Windows-Exe
        path: dist/processDataset.exe
